crudFlaskMongodb/__pycache__
crudFlaskMongodb/static/profile_pics
crudFlaskMongodb/models/__pycache__
crudFlaskMongodb/main/__pycache__
crudFlaskMongodb/posts/__pycache__
crudFlaskMongodb/users/__pycache__